.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.5);
}

.modalContent {
    padding: 25px;
    background: #fff;
    border-radius: 16px;
    min-width: 250px;
}

.modal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
}
.textInput {
    min-width: 400px;
    padding: 5px 10px;
    margin: 10px 0;
    border: 1px solid rgb(228, 228, 228);
}
.radioInput {
    margin: 10px;
}
.radioInput label {
    margin: 0 0 0 10px;
}
